
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color:  #ECEBE8;
}

header, footer {
  background-color: #0F102F;
}

footer {
  padding: 2em;
  height: max-content;
}

/* md */
@media only screen and (max-width: 768px) {
  footer {
    height: max-content;
  }
}
/* sm */
@media only screen and (max-width: 640px) {
  /* footer {
    height: 400px;
  } */
}

.sd-dark-blue {
  color: #0F102F
}

.sd-font-orange {
  color: #ED7126
}

.sd-font-light-blue {
  color: #9CA9C1;
}

.bg-sd-light-blue {
  background: #9CA9C1;
}
.bg-orange {
  background: #ED7126;
}

.bg-sd-dark-blue {
  background-color: #0F102F
}

.bg-sd-light {
  background-color: #ECEBE8
}

