
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color:  #ECEBE8;
}

header, footer {
  background-color: #0F102F;
}

.sd-dark-blue {
  color: #0F102F
}

.sd-orange {
  color: #ED7126
}

.bg-orange {
  background: #ED7126;
}