@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add the lines below */
@layer utilities {
  @variants responsive {
    .masonry {
      column-count: 3;
      column-gap: .5em;
    }

    .mason-image {
      filter: brightness(70%);
    }

    .mason-card {
      max-height:350px;
      overflow: hidden;
    }

    .break-inside {
      break-inside: avoid;
      margin: .5em 0;
      background-color: #0F102F !important;
      color: white;
    }
    .break-inside:hover {
      background-color: #ED7126 !important;
      color: #0F102F !important;
    }

    /* lg */
    @media only screen and (max-width: 1024px) {

    }
    /* md */
    @media only screen and (max-width: 768px) {
      .masonry {
        margin: 3em 1em;
        column-count: 2;
        column-gap: 1em;
      }

      .mason-card {
        max-height:300px;
      }
      .mason-image {
        width: 100%;
        filter: brightness(60%);
      }
    }
    /* sm */
    @media only screen and (max-width: 640px) {
      .masonry {
        column-count: 1;
        column-gap: 1em;
      }

      .mason-card {
        max-height:100px;
      }
    }
  }
}